- var milestone = MR.milestone ? ` (Milestone: ${MR.milestone.title})` : ''
- var mr_short = MR.web_url.replace(/https?:\/\/gitlab.com\//, '').replace('/merge_requests/', '!')
a(href=MR.web_url)=mr_short
span= `: ${MR.title}${milestone}`
