extends layouts/base

block content
    h1 Unlabeled merge requests by author

    p
        = 'The following Merge Requests are not labeled with the Stage label: '
        code=stageLabel
        if stageLabelScope
            = ' or labels starting with '
            code=stageLabelScope

    p
        = 'GitLab users considered for this stage: ' + usernames.sort().join(', ')

    if MRsByAuthor && MRsByAuthor.length === 0
        h2 Either no MRs are unlabeled => YAY, or something is wrong with the config

    each MRsByAuthor in unlabeledMRs
        - var Person = `${MRsByAuthor.author.name} (@${MRsByAuthor.author.username})`
        h2= Person
        ul
            each MR in MRsByAuthor.MRs
                li
                    include includes/merge_request

block header
    a(href="./index.html") ⇱ All Stages
    = " · "
